<div class="container">

<!-- @begin: table -->
{"statusResponse":{"mensagensCritica":[],"status":true},"objectData":[<div ng-repeat="indicador in result.objectList.data">{"indicador":{"nomeIndicador":"{{indicador.indicador.nomeIndicador}}"},"dataValorIndicador":"{{indicador.dataValorIndicador}}","estruturaIndicador":{"id":{{indicador.estruturaIndicador.id}},"identificadorDemanda":"{{indicador.estruturaIndicador.identificadorDemanda}}","nomeUnidadeOrganizacional":"{{indicador.estruturaIndicador.nomeUnidadeOrganizacional}}"}},<BR></div>]}


  
</div>