

<div class="container">

<div class="row">
<p><a href="#/">Back to Home</a> | Page name: {{pageName}}</p>
<hr>
</div>

<div class="row"><h3>Indicadores</h3></div>
<div class="row">&nbsp;</div>

<div class="row"> 

  <ul>
    <li>Indicador 1
      {{chart_data}}
      

<br>

    </li>
    <li>Indicador 2 {{user.dateOfBirth}}
      <ul>
        <li>
          ...
        </li>        
      </ul>
    </li>
  </ul>

  <p><button ng-click="mockData()">Atualizar Dados</button></p>
  <!-- -->
  <flot-chart id="piechart1" style="height: 250px; padding: 0px; position: relative;" ng-model="chart_data" />
<!-- -->

  
</div>

<div class="row">&nbsp;</div>

</div>